*{
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: blue;
}


.secao-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Para base de posicionamento */
    overflow: hidden;    /* Evita que o fundo vaze */
}

.UsuarsenhaLogin{
    background-color: rgb(166, 195, 2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 310px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    gap: 16px;
    padding: 20px;
    border-radius: 16px;
}

#labelUSER, #labelSENHA{
   display: none;
}

.text-h2{
  color: blue;
  margin-bottom: 20px;
}

#UserLogin, #SenhaLogin{
    text-align: left;
    width: 200px;
    padding: 3px 0;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid rgb(31, 0, 230); /* ou qualquer cor que quiser */
    background: transparent;
    outline: none;
    color: #ffff;
}

#UserLogin:focus, #SenhaLogin:focus {
    border-bottom: 2px solid white;
}

#UserLogin::placeholder,
#SenhaLogin::placeholder {
    color: blue; 
}


.entrar{
    color: blue;
    text-decoration: none;
    border: none;
    padding: 4px;
    width: 120px;
    border-radius: 3px;
    margin-top: 8px;
    cursor: pointer;
}

.entrar a{
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.entrar:hover, .entrar:hover a {
    color: #ffff;
    background-color: blue;
    cursor: pointer;
}

.text-cadast{
    margin-top: 8px;
    color: blue;
}

.text-cadast a{
    color: blue;
}

.senhacaixa{
    position: relative;
}

.senhacaixa i{
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    color: #ffff;
}
